<!DOCTYPE html>
<html>
<head>
<title>栏目</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.11.1/dist/bootstrap-table.min.css">

<link rel="stylesheet" href="/plugins/treegrid/jquery.treegrid.css">
<link rel="stylesheet" href="https://unpkg.com/admin-lte@2.3.8/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="https://unpkg.com/admin-lte@2.3.8/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/css/main.css">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" v-cloak class="wrapper">
  <main-header></main-header>
  <main-sidebar></main-sidebar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <content-header title="分类管理"></content-header>
    <!-- Main content -->
    <section class="content">
	<div v-show="showList">
		<div class="box">
			<div class="box-header with-border">
              <h3 class="box-title">列表</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
				<div class="">
					<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
					<a class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
					<a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				</div>
			    <table id="table" data-mobile-responsive="true" data-click-to-select="true">
					<thead>
					<tr>
						<th data-field="selectItem" data-checkbox="true"></th>
					</tr>
					</thead>
				</table>
			</div>
		</div>	
    </div>
    
    <div v-show="!showList">
		<div class="box">
			<div class="box-header with-border">
              <h3 class="box-title">{{title}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
			<form class="form-horizontal">
				<div class="form-group">
				   	<div class="col-sm-2 control-label">栏目名称</div>
				   	<div class="col-sm-7">
				      <input type="text" class="form-control" v-model="column.columnName" placeholder="栏目名称"/>
				    </div>
				</div>
				<div class="form-group" hidden="true">
				   	<div class="col-sm-2 control-label">父栏目</div>
				   	<div class="col-sm-7">
				      <select v-model="column.parentId" class="form-control">
				      	<option value="0">--父栏目--</option>
				      	<option :value="column.id" v-for="column in parentColumns">{{column.columnName}}</option>
				      </select>
				    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">状态</div>
					<div class="col-sm-7">
						<label class="radio-inline">
							<input name="enable" type="radio" checked value="1" v-model="column.status">显示
						</label>
						<label class="radio-inline">
							<input name="enable" type="radio" value="0" v-model="column.status">隐藏
						</label>
					</div>
				</div>
				<div class="form-group">
				   	<div class="col-sm-2 control-label">排序</div>
				   	<div class="col-sm-7">
				      <input type="text" class="form-control" v-model="column.sort" placeholder="排序"/>
				    </div>
				</div>
				<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
				</div>
			</form>
		</div>
	</div>
	</div>
	</section>
  </div>
</div>
<script src="https://unpkg.com/jquery@2.2.4/dist/jquery.min.js"></script>

<script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue@2.2.6/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.11.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.11.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="https://unpkg.com/admin-lte@2.3.8/dist/js/app.js"></script>
<script src="/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="/plugins/treegrid/tree.table.js"></script>
<script src="/js/admin/common.js"></script>
<script src="/js/admin/components.js"></script>
<script src="/js/admin/cms/column.js"></script>
</body>
</html>